@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "All Users";
}

<h1>@ViewData["Title"]</h1>

<div>
    @foreach (var user in Model)
    {
        @if (user.UserName != "admin")
        {
            <div class="user-details" id="@user.Id">
                <p><b>Login: </b>@user.UserName</p>
                <br>
                <p><b>Email: </b>@user.Email</p>
                <br>
                <select name="ba-date" id="ban-date">
                    Select the period of ban
                    <option value=7>7 days</option>
                    <option value=30>30 days</option>
                    <option value=-1>Forever</option>
                </select>
            </div>
        }
    }
</div>