:root {
    --background-color: rgb(13, 17, 22);
    --header-background-color: rgb(2, 4, 8);
    --navigation-color: #03e9f4;
    --body-color: white;
    --vehicle-card-background-color: rgb(19, 24, 26);
    --galery-navigation-buttons-background-color: rgb(0, 0, 0, 0.8);
    --delete-link-color: red;
    --link-color: white;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --main-info-color: #19c602;
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --submit-background-color: #ffffff;
    --black-color: #000000;
  }