:root {
  --background-color: rgb(13, 17, 22);
  --header-background-color: rgb(2, 4, 8);
}

html,
body {
  font-size: 14px;
  height: 100%;
}

body {
  background-color: var(--background-color);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.footer {
  margin-top: auto;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.neon:hover span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.neon:hover span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,
      transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.neon:hover span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.neon:hover span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.neon span {
  display: block;
  position: absolute;
}

.neon {
  position: relative;
  display: inline-block;
  padding: 5px 6px;
  margin: 8px 0;
  color: #03e9f4 !important;
  text-decoration: none !important;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: white;
}

header,
nav.bg-white {
  position: sticky !important;
  top: 0;
  background-color: var(--header-background-color);
}

.vehicles-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.vehicle-info {
  width: 285px;
  height: 350px;
  background-color: rgb(19, 24, 36);
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  left: 0;
  border-radius: 8px;
  transition: 1000ms all;
  transform-origin:
    center left;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.vehicle-info:hover {
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 0 20px #03e9f4;
  margin: 5px;
}

.vehicle-info:hover~.vehicle-info {
  font-weight: bold;
  cursor: pointer;
  transform: translateX(22px);
}

img {
  border-radius: 10px;
  width: 265px;
  height: 190px;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px !important;
}

.login-box {
  position: relative;
  margin-top: -90px;
  width: 900px;
  backdrop-filter: blur(25px);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 7.5em 2.5em 4em 2.5em;
  color: var(--second-color);
}

.login-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 140px;
  height: 70px;
  border-radius: 0 0 20px 20px;
}

.login-header span {
  font-size: 24px;
  color: var(--black-color);
}

.login-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 var(--primary-color);
}

.login-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 var(--primary-color);
}

.input-box {
  width: 100%;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.input-field {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: var(--second-color);
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

#user {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: -28px;
  left: 20px;
  transition: 0.2s;
}

.input-field:focus~.label,
.input-field:valid .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

.icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.input-submit {
  width: 50%;
  height: 50px;
  background: #c6c3c3;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.input-submit:hover {
  background: var(--second-color);
}

.register {
  text-align: center;
  align-items: center;
  width: 100%;
}

.register a {
  font-weight: 500;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }

  .login_box {
    padding: 7.5em 1.5em 4em 1.5em;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.icon.blinking {
  animation: blink 1s infinite;
}

.main-info {
  margin-top: 40px;
}

.main-info,
.user-info,
.vehicle-details,
.user-details {
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  color: white;
}

.vehicle-details {
  display: flex;
  flex-direction: row;
}

.vehicle-details>p,
.user-details>p {
  display: inline;
}

.details-image {
  width: 600px;
  height: 400px;
  margin-right: 40px;
}

.user-details {
  margin: 20px 0;
}

select {
  width: 170px;
  font-size: 22px !important;
}

.select-label {
  margin-left: 120px;
}

select:nth-of-type(2) {
  margin-left: 80px;
}

.submit-button {
  width: 200px;
  height: 40px;
  position: relative;
  display: inline-block;
  margin: 8px 0;
  background-color: transparent;
  color: #03e9f4 !important;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  border: 1px #03e9f4 solid;
}

.submit-button:hover {
  background: #03e9f4;
  color: white !important;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}

.back-link {
  font-size: 20px;
}

.back-link:hover {
  text-decoration: none;
  color: #03e9f4 !important;
}

a.link:hover {
  text-decoration: none;
  color: #03e9f4 !important;
}

* {
  box-sizing: border-box;
}

.my-container {
  position: relative;
}

.mySlides {
  display: none;
  width: 600px;
  height: 400px;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev:hover,
.next:hover {
  text-decoration: none;
  color: #03e9f4 !important;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.dropdown {
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  top: 100;
  left: 0;
}

.dropdown:hover .dropdown-content a {
  display: block;
}

a.delete-link:hover {
  color: red !important;
}

.account-management-link {
  cursor: default;
}

.account-management-link:hover {
  text-decoration: none;
}

div.main-data {
  margin-top: 20px;
  width: 430px;
}

div.site-info {
  margin-top: 20px;
}

ul.main-data-list {
  color: #19c602;
}

input.file {
  height: 100%;
  padding-top: -2px;
}

div.register {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

div.register > div {
  margin-left: 40px;
  margin-right: 40px;
}

div.shadow {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

div.register > span {
  text-align: center;
  width: 100%;
}

.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.change-operations {
  align-items: stretch;
  margin: 20px 60px;
}

.change-operations > a:nth-of-type(2) {
  float: right;
}

.change-operations > a {
  color: white;
}

.change-operations > a:hover {
  color: white;
}

.profile-box {
  padding: 100px 40px 40px;
}

.image-container {
  align-items: center;
  text-align: center;
}